
  footer {
    background-color: #15153a;
    color: #fff;
    padding: 1rem;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
  }
  
  footer .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  